.not-visible{
    display: none;
}

/* .accordion-urgent-button{
    background-color: rgb(252, 178, 178);
} */

.accordion-urgent-button::before{
    content: url('../images/notice-outline-red.svg');
    width: 25px;
    height: 20px;
    padding-right: 5px;
}

.accordion-urgent{
    background-color: rgb(255, 240, 240);
}

.file-fields-sample{
    color: orange;
    font-size: 30%;
    font-weight: bold;
}

.file-fields-sample::before{
    content: "Sample values: ";
    color: blue;
    font-weight: normal;
}

.file-fields-dropdown{
    margin-top: 2px;
    margin-bottom: 2px;
}

.field-annotation{
    color: orange;
    font-size: 30%;
    font-weight: bold;
}

.field-annotation::before{
    content: "Restriction: ";
    color: blue;    
    font-weight: normal;
}

/* .field-annotation::before{
    content: url('../images/notice-outline-red.svg');
    width: 25px;
    height: 20px;
    padding-right: 5px;
} */