.not-visible{
    display: none;
}

.accordion-urgent-button{
    background-color: rgb(252, 178, 178);
}

.accordion-urgent-button::before{
    content: url('../images/notice-outline.svg');
    width: 25px;
    height: 20px;
    padding-right: 5px;
}

.accordion-urgent{
    background-color: rgb(255, 228, 228);
}