{% extends "base.html" %}
{% load rest_framework %}
{% load crispy_forms_tags %}

{% block page_content %}
<div class="container-fluid">
    <div class="message" id="message"></div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="page-header">
                {% if request.resolver_match.url_name == 'group_create' %} Add User Group{% else %} Edit {{ form.name.value }}{% endif %}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td class="col-sm-2">{{ form.name.label_tag }}<span class="danger">{{ form.name.errors }}</span></td>
                        <td>{{ form.name }}</td>
                    </tr>
                </table>
                <input type="submit" value="Save">
            </form><br>
        </div>
    </div>
</div>
{% endblock %}