{% extends "base.html" %}
{% load rest_framework %}
{% load crispy_forms_tags %}

{% block page_content %}
<div class="container-fluid">
    <div class="message" id="message"></div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="page-header">
                Set Password for {{ user }}
            </h4>
        </div>
    </div>
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                {% csrf_token %}
                <span class="danger">{{ form.user_id }}</span>
                <table>
                    <tr>
                        <td class="col-sm-2">{{ form.password.label_tag }}<span class="danger">{{ form.password.errors }}</span></td>
                        <td>{{ form.password }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-2">{{ form.password_confirm.label_tag }}<span class="danger">{{ form.password_confirm.errors }}</span></td>
                        <td>{{ form.password_confirm }}</td>
                    </tr>
                </table>
                <input type="submit" value="Save">
            </form><br>
        </div>
    </div>
</div>
{% endblock %}